@import 'icons';

@font-face {
  font-family: 'VisbyCF-ThinOblique';
  src: url('../fonts/visbycf/VisbyCF-ThinOblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/visbycf/VisbyCF-ThinOblique.otf')  format('opentype'),
         url('../fonts/visbycf/VisbyCF-ThinOblique.woff') format('woff'), url('../fonts/visbycf/VisbyCF-ThinOblique.ttf')  format('truetype'), url('../fonts/visbycf/VisbyCF-ThinOblique.svg#VisbyCF-ThinOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF-Light';
  src: url('../fonts/visbycf/VisbyCF-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/visbycf/VisbyCF-Light.otf')  format('opentype'),
         url('../fonts/visbycf/VisbyCF-Light.woff') format('woff'), url('../fonts/visbycf/VisbyCF-Light.ttf')  format('truetype'), url('../fonts/visbycf/VisbyCF-Light.svg#VisbyCF-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF-Medium';
  src: url('../fonts/visbycf/VisbyCF-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/visbycf/VisbyCF-Medium.otf')  format('opentype'),
         url('../fonts/visbycf/VisbyCF-Medium.woff') format('woff'), url('../fonts/visbycf/VisbyCF-Medium.ttf')  format('truetype'), url('../fonts/visbycf/VisbyCF-Medium.svg#VisbyCF-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF-Bold';
  src: url('../fonts/visbycf/VisbyCF-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/visbycf/VisbyCF-Bold.otf')  format('opentype'),
         url('../fonts/visbycf/VisbyCF-Bold.woff') format('woff'), url('../fonts/visbycf/VisbyCF-Bold.ttf')  format('truetype'), url('../fonts/visbycf/VisbyCF-Bold.svg#VisbyCF-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF-Heavy';
  src: url('../fonts/visbycf/VisbyCF-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/visbycf/VisbyCF-Heavy.otf')  format('opentype'),
         url('../fonts/visbycf/VisbyCF-Heavy.woff') format('woff'), url('../fonts/visbycf/VisbyCF-Heavy.ttf')  format('truetype'), url('../fonts/visbycf/VisbyCF-Heavy.svg#VisbyCF-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF-ExtraBold';
  src: url('../fonts/visbycf/VisbyCF-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/visbycf/VisbyCF-ExtraBold.otf')  format('opentype'),
       url('../fonts/visbycf/VisbyCF-ExtraBold.woff') format('woff'), url('../fonts/visbycf/VisbyCF-ExtraBold.ttf')  format('truetype'), url('../fonts/visbycf/VisbyCF-ExtraBold.svg#VisbyCF-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nameless';
  src: url('../fonts/Nameless/Nameless.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Nameless/Nameless.woff') format('woff'), url('../fonts/Nameless/Nameless.ttf')  format('truetype'), url('../fonts/Nameless/Nameless.svg#VisbyCF-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
